<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body>
    <div id="select-a">
      <label>Font A</label>
      <input id="font-a" /> 
      <button>Display</button>
    </div>

    <div id="select-b">
      <label>Font B</label>
      <input id="font-b" />
      <button>Display</button>
    </div>

    <canvas id="letter1" data-letter="R"></canvas>
    <canvas id="letter2" data-letter="a"></canvas>
    <canvas id="letter3" data-letter="g"></canvas>
    <canvas id="letter4" data-letter="h"></canvas>

    <form action="#">
      <label>Show both</label>
      <input id="show-both" type="radio" value="0" />

      <label>Only font A</label>
      <input id="show-a" type="radio" value="1" />

      <label>Only font B</label>
      <input id="show-b" type="radio" value="2" />
    </form>
  </body>
</html>
