<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body>
    <section id="secondary">
      <div class="container">
        <h1>Tiff</h1>
        <h2>A tool that visually contrasts the differences between two fonts. Built by noob and for noobs.</h2>
      </div>
    </section>

    <section id="primary">
      <div class="container">
        <section class="font-select">
          <div id="select1">
            <label>Font A</label>
            <input id="control" placeholder="Helvetica" /> 
            <a class="btn">Display</a>
          </div>

          <div id="select2">
            <label>Font B</label>
            <input id="experiment" placeholder="e.g. Arial" />
            <a class="btn">Display</a>
          </div>
        </section>

        <section class="font-display">
          <div class="font-space">
            <div class="canvas">
              <figure class="front">
                <p class="letter1 font1">R</p>
                <p class="letter1 font2">R</p>
                <img src="images/circle_info.png" alt="Edit" title="Edit" id="letter1" class="btn-toggle" />
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter1" />
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front">
                <p class="letter2 font1">p</p>
                <p class="letter2 font2">p</p>
                <img src="images/circle_info.png" alt="Edit" title="Edit" id="letter2" class="btn-toggle" />
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter2" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front">
                <p class="letter3 font1">g</p>
                <p class="letter3 font2">g</p>
                <img src="images/circle_info.png" alt="Edit" title="Edit" id="letter3" class="btn-toggle" />
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter3" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front">
                <p class="letter4 font1">T</p>
                <p class="letter4 font2">T</p>
                <img src="images/circle_info.png" alt="Edit" title="Edit" id="letter4" class="btn-toggle" />
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter4" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
