<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body>
    <section>
      <div id="select1">
        <label>Font A</label>
        <input id="control" /> 
        <button>Display</button>
      </div>

      <div id="select2">
        <label>Font B</label>
        <input id="experiment" />
        <button>Display</button>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="canvas">
          <figure class="front">
            <p class="letter1 font1">R</p>
            <p class="letter1 font2">R</p>
            <a href="#" id="letter1" class="btn-edit">Edit</a>
          </figure>
          <figure class="back">
            <input class="letter1" /> 
            <a href="#" class="btn-edit">Edit</a>
          </figure>
        </div>
      </div>

      <div class="container">
        <div class="canvas">
          <figure class="front">
            <p class="letter2 font1">a</p>
            <p class="letter2 font2">a</p>
            <a href="#" id="letter2" class="btn-edit">Edit</a>
          </figure>
          <figure class="back">
            <input class="letter2" /> 
            <a href="#" class="btn-edit">Edit</a>
          </figure>
        </div>
      </div>

      <div class="container">
        <div class="canvas">
          <figure class="front">
            <p class="letter3 font1">a</p>
            <p class="letter3 font2">a</p>
            <a href="#" id="letter3" class="btn-edit">Edit</a>
          </figure>
          <figure class="back">
            <input class="letter3" /> 
            <a href="#" class="btn-edit">Edit</a>
          </figure>
        </div>
      </div>

      <div class="container">
        <div class="canvas">
          <figure class="front">
            <p class="letter4 font1">a</p>
            <p class="letter4 font2">a</p>
            <a href="#" id="letter4" class="btn-edit">Edit</a>
          </figure>
          <figure class="back">
            <input class="letter4" /> 
            <a href="#" class="btn-edit">Edit</a>
          </figure>
        </div>
      </div>
    </section>
    
    <form action="#">
      <label>Show both</label>
      <input id="show-both" type="radio" value="0" />

      <label>Only font A</label>
      <input id="show-a" type="radio" value="1" />

      <label>Only font B</label>
      <input id="show-b" type="radio" value="2" />
    </form>
  </body>
</html>
