<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body>
    <div class="container">
      <section class="font-select">
        <div id="select1">
          <label>Font A</label>
          <input id="control" /> 
          <button>Display</button>
        </div>

        <div id="select2">
          <label>Font B</label>
          <input id="experiment" />
          <button>Display</button>
        </div>
      </section>

      <section class="font-display">
        <div class="font-space">
          <div class="canvas">
            <figure class="front">
              <p class="letter1 font1">R</p>
              <p class="letter1 font2">R</p>
              <a id="letter1" class="btn btn-toggle">Edit</a>
            </figure>
            <figure class="back">
              <p>Enter a different letter</p>
              <input class="letter1" />
              <a class="btn btn-toggle">Back</a>
              <a class="btn btn-toggle btn-edit">Done</a>
            </figure>
          </div>
        </div>

        <div class="font-space">
          <div class="canvas">
            <figure class="front">
              <p class="letter2 font1">p</p>
              <p class="letter2 font2">p</p>
              <a id="letter2" class="btn btn-toggle">Edit</a>
            </figure>
            <figure class="back">
              <p>Enter a different letter</p>
              <input class="letter2" /> 
              <a class="btn btn-toggle">Back</a>
              <a class="btn btn-toggle btn-edit">Done</a>
            </figure>
          </div>
        </div>

        <div class="font-space">
          <div class="canvas">
            <figure class="front">
              <p class="letter3 font1">g</p>
              <p class="letter3 font2">g</p>
              <a id="letter3" class="btn btn-toggle">Edit</a>
            </figure>
            <figure class="back">
              <p>Enter a different letter</p>
              <input class="letter3" /> 
              <a class="btn btn-toggle">Back</a>
              <a class="btn btn-toggle btn-edit">Done</a>
            </figure>
          </div>
        </div>

        <div class="font-space">
          <div class="canvas">
            <figure class="front">
              <p class="letter4 font1">T</p>
              <p class="letter4 font2">T</p>
              <a id="letter4" class="btn btn-toggle">Edit</a>
            </figure>
            <figure class="back">
              <p>Enter a different letter</p>
              <input class="letter4" /> 
              <a class="btn btn-toggle">Back</a>
              <a class="btn btn-toggle btn-edit">Done</a>
            </figure>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
