<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <link rel='stylesheet' href='/stylesheets/messenger.css' />
    <link rel='stylesheet' href='/stylesheets/messenger-theme-future.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/messenger.min.js"></script>
    <script type="text/javascript" src="/javascripts/messenger-theme-future.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body> 
    <section id="secondary">
      <div class="container">
        <h1>Tiff</h1>
        <h2 class="left">A type diff tool that visually contrasts the differences between two fonts.</h2>
        <p class="right">Currently supports fonts from the <a href="//www.google.com/fonts/">Google Web Fonts library</a>. Best if viewed with Google Chrome (12+) or Mozilla Firefox (10+).</p>
      </div>
    </section>

    <section id="primary">
      <div class="container">
        <section class="font-select">
          <div id="select1">
            <label>Font A</label>
            <input id="control" value="Helvetica" disabled="disabled" />
            <a class="btn">Hide</a>
          </div>

          <div id="select2">
            <label>Font B</label>
            <input id="experiment" placeholder="e.g. Arial" autofocus="autofocus" />
            <a class="btn">Display</a>
          </div>
        </section>

        <section class="font-display">
          <div class="font-space">
            <div class="canvas">
              <figure class="front btn-toggle" title="Edit">
                <p class="letter1 font1">R</p>
                <p class="letter1 font2">R</p>
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter1" />
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front btn-toggle" title="Edit">
                <p class="letter2 font1">g</p>
                <p class="letter2 font2">g</p>
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter2" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front btn-toggle" title="Edit">
                <p class="letter3 font1">h</p>
                <p class="letter3 font2">h</p>
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter3" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>

          <div class="font-space">
            <div class="canvas">
              <figure class="front btn-toggle" title="Edit">
                <p class="letter4 font1">e</p>
                <p class="letter4 font2">e</p>
              </figure>
              <figure class="back">
                <p>Enter a different letter</p>
                <input class="letter4" /> 
                <a class="btn btn-toggle">Back</a>
                <a class="btn btn-toggle btn-edit">Done</a>
              </figure>
            </div>
          </div>
        </section>
        <img src="images/end.png" alt="End" id="end" />

        <footer>
          <section class="left">
            <p>Created by Mu Ye (<a href="//twitter.com/yemutex">@yemutex</a>)</p>
            <p><a href="//github.com/yemutex/tiff">Tiff on Github</a></p>
          </section>
          <section class="right">
            <div class="fb-like" data-href="http://tiff.herokuapp.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Tiff, a visual typeface diff tool.">Tweet</a>
          </section>
        </footer>
      </div>
    </section>
    <script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.0.min.js"></script>

    <!-- Social Network Buttons -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- For font detector -->
    <p id="fontcheck1">abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890</p>
    <p id="fontcheck2">abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890</p>
  </body>
</html>
