<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tiff.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript" src="/javascripts/tiff.js"></script>
  </head>

  <body>
    <div id="select1">
      <label>Font A</label>
      <input id="control" /> 
      <button>Display</button>
    </div>

    <div id="select2">
      <label>Font B</label>
      <input id="experiment" />
      <button>Display</button>
    </div>

    <div class="canvas">
      <p class="letter1 font1" ref="edit1">R</p>
      <p class="letter1 font2" ref="edit1">R</p>
      <a href="#" id="edit1" class="btn-edit">Edit</a>
    </div>

    <div class="canvas">
      <p class="letter2 font1" ref="edit2">a</p>
      <p class="letter2 font2" ref="edit2">a</p>
      <a href="#" id="edit2">Edit</a>
    </div>

    <div class="canvas">
      <p class="letter3 font1" ref="edit3">g</p>
      <p class="letter3 font2" ref="edit3">g</p>
      <a href="#" id="edit3">Edit</a>
    </div>
    
    <div class="canvas">
      <p class="letter4 font1" ref="edit4">h</p>
      <p class="letter4 font2" ref="edit4">h</p>
      <a href="#" id="edit4">Edit</a>
    </div>
    
    <form action="#">
      <label>Show both</label>
      <input id="show-both" type="radio" value="0" />

      <label>Only font A</label>
      <input id="show-a" type="radio" value="1" />

      <label>Only font B</label>
      <input id="show-b" type="radio" value="2" />
    </form>
  </body>
</html>
