@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
body {
  color: #444;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
body a {
  cursor: pointer;
}
body .container {
  max-width: 814px;
  margin: 0 auto;
}
body #secondary {
  color: #EEE;
  padding: 50px 0;
  background-image: url('../images/random_grey_variations.png');
}
body #secondary h1 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}
body #secondary h2 {
  width: 50%;
  font-size: 20px;
  line-height: 1.3em;
}
body #primary {
  padding-top: 50px;
}
body #primary .container .font-display .font-space {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  -webkit-perspective: 400px;
}
body #primary .container .font-display .font-space .canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px dotted #bbb;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
}
body #primary .container .font-display .font-space .canvas.flipped {
  -webkit-transform: rotateY(180deg);
}
body #primary .container .font-display .font-space .canvas.flipped .front {
  display: none;
}
body #primary .container .font-display .font-space .canvas figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-backface-visibility: hidden;
}
body #primary .container .font-display .font-space .canvas figure.front p {
  width: 100%;
  line-height: 200px;
  font-size: 120px;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
}
body #primary .container .font-display .font-space .canvas figure.front a {
  position: absolute;
}
body #primary .container .font-display .font-space .canvas figure.back {
  -webkit-transform: rotateY(180deg);
}
body #primary .container .font-display .font-space .canvas .font1 {
  color: #00B7FF;
}
body #primary .container .font-display .font-space .canvas .font2 {
  color: #EA6264;
}
body #primary .container .font-select {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
body #primary .container .font-select #select1 {
  float: left;
}
body #primary .container .font-select #select1 a.btn {
  color: #FFF;
  background-color: #72B3CC;
  padding: 8px;
}
body #primary .container .font-select #select2 {
  float: right;
}
body #primary .container .font-select #select2 a.btn {
  color: #FFF;
  background-color: #C75646;
  padding: 8px;
}
body #primary .container .font-select label {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
body #primary .container .font-select input {
  width: 200px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0;
}
