body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.canvas {
  width: 200px;
  height: 200px;
  border: 1px dotted #bbb;
}
.canvas p {
  opacity: 0;
}
