@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
.transform-rotateY180 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.transform-style-preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.transition-transform {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
body {
  color: #444;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
body a {
  cursor: pointer;
  text-decoration: none;
}
body .container {
  max-width: 814px;
  margin: 0 auto;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body #secondary {
  color: #EEE;
  padding: 50px 0;
  background-image: url('../images/random_grey_variations.png');
}
body #secondary .container {
  overflow: hidden;
}
body #secondary h1 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 60px;
  font-weight: 701;
  margin: 0;
}
body #secondary h2 {
  width: 50%;
  font-size: 20px;
  line-height: 1.5em;
}
body #secondary p {
  width: 40%;
  color: #d5d5d5;
  font-size: 90%;
  line-height: 1.5em;
  padding-top: 6px;
}
body #secondary p a {
  color: #00B7FF;
}
body #primary {
  padding: 50px 0;
}
body #primary .container .font-display {
  padding-bottom: 50px;
}
body #primary .container .font-display .font-space {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  perspective: 400px;
}
body #primary .container .font-display .font-space .canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #BBB;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #primary .container .font-display .font-space .canvas.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
body #primary .container .font-display .font-space .canvas.flipped .front {
  display: none;
}
body #primary .container .font-display .font-space .canvas figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
body #primary .container .font-display .font-space .canvas figure.front:hover {
  cursor: pointer;
}
body #primary .container .font-display .font-space .canvas figure.front p {
  width: 100%;
  line-height: 200px;
  font-size: 120px;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
}
body #primary .container .font-display .font-space .canvas figure.front p.font1 {
  font-family: 'Helvetica';
  opacity: 0.5;
}
body #primary .container .font-display .font-space .canvas figure.front img {
  position: absolute;
  cursor: pointer;
  padding: 3px 0 0 3px;
}
body #primary .container .font-display .font-space .canvas figure.back {
  color: #EEE;
  text-align: center;
  background-image: url('../images/random_grey_variations.png');
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
body #primary .container .font-display .font-space .canvas figure.back p {
  margin-top: 50px;
  margin-bottom: 20px;
}
body #primary .container .font-display .font-space .canvas figure.back input {
  width: 120px;
  display: block;
  margin: 20px auto;
}
body #primary .container .font-display .font-space .canvas figure.back a {
  padding: 4px 8px;
}
body #primary .container .font-display .font-space .canvas .font1 {
  color: #00b7ff;
}
body #primary .container .font-display .font-space .canvas .font2 {
  color: #c75646;
}
body #primary .container .font-select {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
body #primary .container .font-select #select1 a.btn,
body #primary .container .font-select #select2 a.btn {
  width: 67px;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 8px 0;
}
body #primary .container .font-select #select1 {
  float: left;
}
body #primary .container .font-select #select1 a.btn {
  background-color: #72B3CC;
}
body #primary .container .font-select #select2 {
  float: right;
}
body #primary .container .font-select #select2 a.btn {
  background-color: #c75646;
}
body #primary .container .font-select label {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
body #primary .container .font-select input {
  width: 200px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0;
}
body #primary .container img#end {
  display: block;
  margin: 0 auto;
}
body #primary .container footer {
  font-size: 90%;
  overflow: hidden;
  margin-top: 50px;
}
body #primary .container footer p {
  color: #aaaaaa;
  display: inline-block;
  padding-right: 50px;
  margin: 0;
}
body #primary .container footer p a {
  color: #aaaaaa;
}
body #primary .container footer .fb-like {
  padding-right: 20px;
}
