@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
.transform-rotateY180 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.transform-style-preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.transition-transform {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
body {
  color: #444;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  margin: 0;
  /* Mobile Portrait */

}
body a {
  cursor: pointer;
  text-decoration: none;
}
body .container {
  max-width: 814px;
  margin: 0 auto;
  padding: 0 20px;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body ::-webkit-scrollbar {
  width: 12px;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(238, 238, 238, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(238, 238, 238, 0.4);
}
body #secondary {
  color: #EEE;
  padding: 50px 0;
  background-image: url('../images/random_grey_variations.png');
}
body #secondary .container {
  overflow: hidden;
}
body #secondary h1 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 60px;
  font-weight: 701;
  margin: 0;
}
body #secondary h2 {
  width: 50%;
  font-size: 20px;
  line-height: 1.5em;
}
body #secondary p {
  width: 40%;
  color: #d5d5d5;
  font-size: 90%;
  line-height: 1.5em;
  padding-top: 6px;
}
body #secondary p a {
  color: #00b7ff;
}
body #primary {
  padding: 50px 0;
}
body #primary .container .font-display.overlay {
  margin-bottom: 50px;
  overflow: hidden;
}
body #primary .container .font-display.overlay figure.canvas {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 0;
  float: left;
  margin: 0 1px 1px 0;
  padding: 0;
  border: 1px solid #BBB;
}
body #primary .container .font-display.overlay figure.canvas:hover {
  cursor: pointer;
}
body #primary .container .font-display.overlay figure.canvas span {
  width: 100%;
  font-size: 120px;
  display: inline-block;
  margin-right: -100%;
  text-align: center;
  opacity: 0;
}
body #primary .container .font-display.overlay figure.canvas span.font1 {
  font-family: 'Georgia';
  opacity: 0.5;
}
body #primary .container .font-display.overlay figure.canvas .font1 {
  color: #00b7ff;
}
body #primary .container .font-display.overlay figure.canvas .font2 {
  color: #c75646;
}
body #primary .container .font-select {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
body #primary .container .font-select #select1 a.btn,
body #primary .container .font-select #select2 a.btn {
  width: 67px;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 8px 0;
}
body #primary .container .font-select #select1 {
  float: left;
}
body #primary .container .font-select #select1 a.btn {
  background-color: #72B3CC;
}
body #primary .container .font-select #select2 {
  float: right;
}
body #primary .container .font-select #select2 a.btn {
  background-color: #c75646;
}
body #primary .container .font-select label {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
body #primary .container .font-select input {
  width: 200px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0;
}
body #primary .container .contrast-mode {
  text-align: center;
  margin-bottom: 50px;
}
body #primary .container .contrast-mode #switch-box {
  width: 56px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #BBB;
  margin: 0 10px;
  padding: 1px;
}
body #primary .container .contrast-mode #switch-box #switch {
  width: 25px;
  height: 100%;
  float: left;
  display: inline-block;
  background-color: #72B3CC;
}
body #primary .container .contrast-mode .inactive {
  color: #aaaaaa;
}
body #primary .container .edit-letters {
  margin-bottom: 50px;
  text-align: center;
}
body #primary .container .edit-letters #reset {
  color: #00b7ff;
}
body #primary .container .edit-letters input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
body #primary .container img#end {
  display: block;
  margin: 0 auto;
}
body #primary .container footer {
  font-size: 90%;
  overflow: hidden;
  margin-top: 50px;
}
body #primary .container footer p {
  color: #aaaaaa;
  display: inline-block;
  padding-right: 50px;
  margin: 0;
}
body #primary .container footer p a {
  color: #aaaaaa;
}
body #primary .container footer .fb-like {
  padding-right: 20px;
}
body #fontcheck1,
body #fontcheck2 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body ul.ui-widget {
  max-height: 266px;
  overflow-y: scroll;
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body ul.ui-widget li.ui-menu-item a {
  border-color: #FFF;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body ul.ui-widget li.ui-menu-item a:hover {
  font-weight: bold;
  background-color: #EEE;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body #secondary h2,
  body #secondary p {
    width: 100%;
  }
  body #primary .font-select #select1,
  body #primary .font-select #select2 {
    width: 100%;
  }
  body #primary .font-select #select1 input,
  body #primary .font-select #select2 input {
    width: 60%;
  }
  body #primary .font-select #select1 {
    margin-bottom: 20px;
  }
  body #primary .font-display figure.canvas {
    width: 99% !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
  }
  body #primary footer .left,
  body #primary footer .right {
    width: 100%;
    text-align: center;
  }
  body #primary footer .left {
    margin-bottom: 20px;
  }
  body #primary footer .left p {
    display: block;
    padding: 5px 0;
  }
}
